@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
}

@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url("/fonts/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy";
    font-weight: lighter;
    src: url("/fonts/Gilroy-Light.otf");
}

@font-face {
    font-family: "NectoMono";
    src: url('/fonts/Necto-Mono.woff');
}

@keyframes gradient-slide {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

body {
    background-color: #171717;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.effect {
    animation: gradient-slide 4s linear infinite;
    background: linear-gradient(142deg, rgba(234,65,11,1) 0%, rgba(236,146,7,1) 37%, rgba(236,179,29,1) 73%, rgba(234,65,11,1) 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #E7E7E7;
}

select {
    appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.selected {
    background-color: #EB8816;
}

.cbx-container {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark:hover {
    background-color: #ccc;
}

.cbx-container input {
    display: none;
}

.cbx-container input:checked ~ .checkmark {
    background-color: #EB8816;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 3px solid #252525;
    border-radius: 4px;  
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cbx-container input:checked ~ .checkmark:after {
    display: block;
}

.cbx-container .checkmark:after {
    left: 3px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.parent[data-isopen="true"] {
    height: fit-content;
}

.child {
    width: 40px;
    height: 40px;
}

.anim-500 {
    transition: 500ms cubic-bezier(0, 0, 0.2, 1);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #454545; 
}

@media only screen and (max-width: 640px) {
    .menu-popup {
        bottom: -200px;
    }
}

.create-event-input {
    width: 100%;
    padding: 24px;
    font-size: 20px;
    background-color: #E7E7E7;
    border-bottom: 2px solid #252525;
}

.create-event-input:is(:hover, :focus) {
    background-color: white;
}

.ais-SearchBox {
    width: 100%;
}
  
.ais-SearchBox-input {
    width: 100%;
    padding: 24px;
    font-size: 20px;
    background-color: #E7E7E7;
    border-bottom: 2px solid #252525;
    transition: 500ms cubic-bezier(0, 0, 0.2, 1);
}

.ais-SearchBox-submit {
    display: none;
}

.ais-SearchBox-input:is(:hover, :focus) {
    outline: none;
    background-color: white;
    box-shadow: 0 6px 10px rgba(180, 180, 180, 0.2);
}
  
/* Hits stilleri */
.ais-Hits {
    position: absolute;
    bottom: -14px;
    right: 0px;
    left: 0px;
}

.ais-Hits-list {
    display: flex;
    gap: 10px;
}

.ais-Hits-item {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.ais-Hits-item:hover {
    background-color: #ebebeb;
}

